[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
cython = "*"
sklearn = "*"
lightgbm = "*"
catboost = "*"
numba = "*"
pandas = "*"

[dev-packages]
pympler = "*"

[requires]
python_version = "3.10"
